@keyframes Text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Shorten {
    from {
        width: 960px;
    }

    to {
        width: 90px;
    }
}

@keyframes Expand {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes ZoomOut {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: inset 0 0 0 20px cornflowerblue;
    }
}

@keyframes Shadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 10px 10px 5px rgb(46, 45, 45);
    }
}

body {
    background-color: #C3DBF3;
    font-family: '標楷體';
    margin: 0px;
}

.Music {
    float: left;
    width: 150px;
    height: 20px;
}

.Header {
    background-color: #ACBED6;
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: '標楷體';
}

article {
    background-color: #EFD9AC;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

caption {
    text-align: left;
    font-size: xx-large;
    color: purple;
    font-family: 'Arial Black';
}

.Saying {
    background-color: whitesmoke;
    border-radius: 30px;
    font-size: larger;
    text-align: center;
    font-family: '標楷體';
    font-size: 50px;
}

.Saying:hover {
    animation: Shadow 0.5s;
    box-shadow: 10px 10px 5px rgb(46, 45, 45);
}

nav {
    width: cover;
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    background-color: #BFA293;
    text-decoration: none;
    padding: 10px 9%;
    color: #42383F;
    font-size: 170%;
    font-weight: bolder;
    font-family: Impact;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: #A86E0D;
    color: white;
}

.AbilityTable {
    height: 400px;
    width: 1700px;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    width: 1700px;
    align-items: center;
}

.Personality {
    background-color: #413B6B;
    width: 350px;
    font-size: 150%;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
    border-radius: 30px;
    color: whitesmoke;
    font-family: '標楷體';
}

.Personality:hover {
    animation: ZoomOut 1s;
    box-shadow: inset 0 0 0 20px cornflowerblue;
}

.AbilityPicture {
    float: left;
}

.AbilityHyperlink {
    text-decoration: none;
    color: #36222A;
    font-size: 60px;
}

.AbilityHyperlink:hover {
    color: #D9A736;
}

.SchoolAnimation {
    margin: center;
    align-items: center;
}

.SchoolFront {
    background-color: #2B4247;
    width: 960px;
    position: absolute;
    color: white;
    font-family: '新細明體';
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.SchoolAnimation:hover .SchoolFront {
    animation: Shorten 1s;
    box-shadow: 10px 10px 5px rgb(46, 45, 45);
    width: 90px;
}

.SchoolText {
    padding-top: 10px;
    font-size: 20px;
    padding-left: 100px;
    opacity: 0;
    z-index: -1;
}

.SchoolAnimation:hover .SchoolText {
    animation: Text 2.5s;
    opacity: 1;
}



.SkillAndInterestArticle {
    background-color: #CAFFC2;
}

.SkillAndInterestTable {
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Title {
    font-size: 200%;
    padding: 10px;
    font-weight: bolder;
    width: 20%;
}

.Part {
    font-size: 175%;
    width: 25%;
}

.Bar {
    background-color: white;
    border-radius: 30px;
    height: 30px;
    width: 1700px;
    border: 1px white solid;
    margin: auto;
}



.BarInsideC {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 40%, transparent 40%);
}

.BarInsideP {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 80%, transparent 80%);
}

.BarInsideJ {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 60%, transparent 60%);
}

.BarInsideH {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 25%, transparent 25%);
}

.BarInsideCss {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 20%, transparent 20%);
}

.BarInsideN {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 80%, transparent 80%);
}

.BarInsideA {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 70%, transparent 70%);
}

.BarInsideG {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 50%, transparent 50%);
}

.BarInsideB {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 45%, transparent 45%);
}

.BarInsideS {
    border-radius: 20px;
    animation: Expand 3s;
    height: 30px;
    width: 1700px;
    background: linear-gradient(90deg, yellow 0%, #D9A736 47%, transparent 47%);
}

.AchievementTable {
    text-align: left;
    width: 1700px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.AchieveTitle {
    font-size: 200%;
    width: 490px;
    font-weight: bolder;
    text-align: center;
}

.AchieveDiv {
    width: 530px;
    padding-left: 200px;
    align-items: center;
}

.AchievePicture {
    position: absolute;
    z-index: 1;
}

.AchieveText {
    background-color: #564205;
    padding: 10px;
    width: 480px;
    text-align: left;
    border-radius: 10px;
    color: aliceblue;
    font-size: 25px;
    font-family: '標楷體';
    z-index: -1;
}

.AchieveDiv:hover .AchievePicture {
    z-index: -2;
}

.AchieveDiv:hover .AchieveText {
    animation: Text 1s;
}

.LeaveBlank {
    opacity: 0;
}

footer {
    background-color: cadetblue;
    color: darkgreen;
    font-size: large;
}